#titleInput {
  width: 75%;
  margin-right: 0.5%; 
  float: left;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #303030;
}

#addMovie {
  width: 20%;
  float: left;
}

#movieList {
  display: flex;
  flex-flow: row wrap;
}

.movie-name {
  padding: 5px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #F39C12;
  display: inline-block;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.two > span:nth-child(5):before,
.two > span:nth-child(5) ~ span:before {
  content: "\2605";
  position: absolute;
}

.four > span:nth-child(4):before,
.four > span:nth-child(4) ~ span:before {
  content: "\2605";
  position: absolute;
}

.six > span:nth-child(3):before,
.six > span:nth-child(3) ~ span:before {
  content: "\2605";
  position: absolute;
}

.eight > span:nth-child(2):before,
.eight > span:nth-child(2) ~ span:before {
  content: "\2605";
  position: absolute;
}

.ten > span:nth-child(1):before,
.ten > span:nth-child(1) ~ span:before {
  content: "\2605";
  position: absolute;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
