{{#each movies}}
  <div class='movie-name' key="{{@key}}">{{title}}  
    <button type="button" class="btn btn-default btn-sm" id="deleteButton">remove
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="okButton">seen it
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
  </div>
{{/each}}