#titleInput {
  width: 75%;
  margin-right: 0.5%;
  float: left; }

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #303030; }

#addMovie {
  width: 20%;
  float: left; }

#movieList {
  display: flex;
  flex-flow: row wrap; }

.movie-name {
  padding: 5px; }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #F39C12;
  display: inline-block; }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute; }

.two > span:nth-child(5):before,
.two > span:nth-child(5) ~ span:before {
  content: "\2605";
  position: absolute; }

.four > span:nth-child(4):before,
.four > span:nth-child(4) ~ span:before {
  content: "\2605";
  position: absolute; }

.six > span:nth-child(3):before,
.six > span:nth-child(3) ~ span:before {
  content: "\2605";
  position: absolute; }

.eight > span:nth-child(2):before,
.eight > span:nth-child(2) ~ span:before {
  content: "\2605";
  position: absolute; }

.ten > span:nth-child(1):before,
.ten > span:nth-child(1) ~ span:before {
  content: "\2605";
  position: absolute; }

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0; }

/*# sourceMappingURL=main.css.map */

.ui-autocomplete {
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 1000;
 float: left;
 display: none;
 min-width: 160px;
 _width: 160px;
 padding: 4px 0;
 list-style: none;
 background-color: #ffffff ;
 border-color: #999999 ;
 border-style: solid;
 border-width: 1px;
 -moz-border-radius-topright: 5px;
 -webkit-border-top-right-radius: 5px;
 border-top-right-radius: 5px;
 -moz-border-radius-bottomright: 5px;
 -webkit-border-bottom-right-radius: 5px;
 border-bottom-right-radius: 5px;
 -moz-border-radius-bottomleft: 5px;
 -webkit-border-bottom-left-radius: 5px;
 border-bottom-left-radius: 5px;
 -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
 box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
 display: block;
 padding: 3px 15px;
 clear: both;
 font-weight: normal;
 line-height: 18px;
 color: #555555 ;
 white-space: nowrap;
 min-height: 50px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all:hover {
 color: #333333 ;
 text-decoration: none;
 background-color: #eeeeee ;
 border-radius: 0px;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
 background-image: none;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all:active {
 color: #333333 ;
 text-decoration: none;
 background-color: #eeeeee ;
 border-radius: 0px;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
 background-image: none;
}

.ui-autocomplete {
 vertical-align: middle;
}

.ui-autocomplete .ui-menu-item {
 vertical-align: middle;
 border-bottom: 1px solid #eeeeee ;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-icon {
 vertical-align: middle;
 padding-left: 1em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-icon i {
 display: inline-block;
 font-size: 2em;
 line-height: 2em;
 text-align: center;
 vertical-align: bottom;
 color: #27ae60 ;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-artist {
 font-weight: bold;
 font-size: 1.2em;
 height: 55px;
 line-height: 55px;
 padding-left: 0.6em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-album-name {
 font-size: 1.2em;
 height: 55px;
 line-height: 55px;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-divider {
 padding-right: 0.5em;
 padding-left: 0.5em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-divider i {
 font-size: 0.7em;
}

.ui-helper-hidden-accessible {
  display: none;
}
